/* CSS Document */
* { margin:0px; padding:0px;}
img { border:none;}
a { text-decoration:none;}
a,span,p { font-size:12px; font-family:微软雅黑;}
input { outline:none;}
   
/* 主要内容 */
  #main {margin: 0 auto; position:relative;}
  #main .aa { width:238px; border:1px #d9d9d9 solid; background-color:#FFF; position:absolute;}
  #main .img { width:221px; padding:1px; border:1px #a6a6a6 solid; margin:7px;}
  #main .title { width:100%; height:26px; border-bottom:1px #cccccc solid;}
   #main .title span { color:#a0a0a0; text-indent:10px; display:block;}
  #main .dynamic { width:100%; height:70px; margin-top:1px; border-bottom:1px #cccccc solid; background-color:#efefef;}
   #main .headpic { width:37px; padding:1px; border:1px #b5b5b5 solid; float:left; margin-top:14px; margin-left:20px;}
   #main .dynamictext { width:150px; float:left; margin-left:8px; margin-top:17px;}
    #main .dynamictext p { color:#a0a0a0; text-align:center;}
	#main .dynamictext .time { font-size:11px;} 
    #main .dynamictext span { margin:0px 3px;}
    #main .dynamictext .sc { color:#0096ff;}
  #main .action { width:100%; height:29px; margin-top:1px; text-align:center;}
   #main .action p { width:175px; height:29px; line-height:29px; margin:0px auto;}
   #main .action span { text-align:center;  float:left; color:#b5b5b5; margin:0px 2px;}
   
  
  #main .aa .img { position:relative; overflow:hidden;}
  #main .aa .img .hover { width:221px; height:355px; background:url(../images/tset_03.png); position:absolute; top:0px; display:none;}
  #main .aa .img:hover .hover { display:block;}
  #main .aa .img .aaleft { width:125px; height:57px; position:absolute; bottom:10px; left:46px; z-index:9; display:none;}
  #main .aa .img:hover .aaleft { display:block;}
  