* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

ul {
	list-style-type: none;
}

a {
	color: #b63b4d;
	text-decoration: none;
}
img { border: none;}

/** =======================
 * Contenedor Principal
 ===========================*/
 .accordion {
 	width: 100%;
 	max-width: 960px;
 	margin: 30px auto 20px;
 	background: #FFF;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
	-webkit-box-shadow:1px 1px 2px #292929;
    -moz-box-shadow:1px 1px 2px #292929;
    box-shadow:1px 1px 2px #292929;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	font-size: 19px;
	border-bottom: 1px dashed #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #000;
}

.accordion li.open i {
	color: #000;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background:#fff;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px dashed #CCC;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #999;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	/*background: #BFDFFF;
 	color: #333;*/
 }
.accordion h1{ font-size:24px; line-height:70px; text-align:center; font-weight: 400; border-bottom:1px solid #ccc;}

.submenu table{ margin-left:60px;}
.submenu table tr{ line-height:50px;}
.name{ font-size:15px; text-align:right; font-weight:300;}
/*.submenu input{ width:300px;
				display: inline-block;
				padding: 0px 10px;
				height: 36px;
				font-size: 16px;
				line-height: 1;}*/
.clear-input{ width:300px; height:36px; display: inline-block;  border: 1px solid #CCC;
				padding: 0px 10px; resize:none;  font-size:16px; background: #FCFCFC none repeat scroll 0% 0%;
				border-radius:2px; /* 圆角*/
				-moz-border-radius:2px;
			    -webkit-border-radius:2px;}
.submit-btn{ width:120px; height:46px;
			  position: relative;
			  display: inline-block;
			  background: #D0EEFF;
			  border: 1px solid #99D3F5;
			  border-radius: 4px;
			  padding: 4px 12px;
			  overflow: hidden;
			  color: #1E88C7;
			  text-decoration: none;
			  text-indent: 0;
			  line-height: 20px;}
.submit-btn:hover{  background: #AADFFD;
					  border-color: #78C3F3;
					  color: #004974;
					  text-decoration: none;}
.sex{ margin-right:20px;}
.sex input{ width:25px;}